@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 240 249 255;
  --fg: 15 23 42;
}

html, body, #__next { height: 100%; }

body {
  @apply bg-gradient-to-br from-blue-50 via-blue-100 to-blue-200 text-gray-900;
  font-feature-settings: "rlig" 1, "calt" 1;
}
